<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="shortcut icon" href="">
    <title>LéGenesis</title>
</head>

<body>
    <header>
        <div class="row">
            <img class="logo mx-auto" src="/images/LéGenesis-2.png" alt="Logo">
        </div>

        {{#if logged_in}}
        <div class="row navbar-buttons">
            <button type="button" class="btn btn-dark" id="userDshBtn">Community</button>

            <button type="button" class="btn btn-dark" id="profileBtn">Profile</button>
            <button type="button" class="btn btn-dark" id="logoutBtn">Logout</button>

        </div>
        {{/if}}
    </header>

    <main class="container justify-content-center">
        <div class="row">
            {{{body}}}
        </div>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="/js/login.js"></script>
    <script src="/js/logout.js"></script>
    <script src="/js/nav.js"></script>
    <script src="/js/new-character.js"></script>
</body>

</html>