<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <title>LéGenesis</title>
</head>
<body>
    <header class="navbar title ">
        <h1 d-flex justify-content-start>LéGenesis</h1>
    <div class="d-flex justify-content-end pr-2">
        <button type="button" class="btn btn-light" id="userDshBtn">User Dashboard</button>
        <button type="button" class="btn btn-light" id="logoutBtn">logout</button>
    </div>
    </header>
<div class="container">
{{{body}}} 
</div>
    
</body>
</html>