<div class="login-card col-4 offset-4">

    <div class="row">
        <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#add-login-modal">
            Login
        </button>
    </div>

    <div class="row">
        <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#add-signup-modal">
            Sign Up
        </button>
    </div>

    <div class="login-modal">

        <div class="modal fade" id="add-login-modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="LoginModalLabel">Login</h5>
                    </div>
                    <div class="modal-body">
                        <form id="login-form">
                            <div class="form-row">
                                <div class="form-group">
                                    <label for="login-email">Email</label>
                                    <input type="text" class="form-control" id="email-login" placeholder="Email">
                                </div>

                            </div>
                            <div class="form-row">
                                <div class="form-group">
                                    <label for="login-password">Password</label>
                                    <input type="password" class="form-control" id="password-login"
                                        placeholder="Password">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-dark" id="login_button">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="signup-modal">

        <div class="modal fade" id="add-signup-modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="SignupModalLabel">Sign Up</h5>
                    </div>
                    <div class="modal-body">
                        <form id="signup-form">
                            <div class="form-row">
                                <div class="form-group">
                                    <label for="signup-name">Name</label>
                                    <input type="text" class="form-control" id="name-signup" placeholder="Name">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group">
                                    <label for="signup-email">Email</label>
                                    <input type="text" class="form-control" id="email-signup" placeholder="Email">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group">
                                    <label for="signup-password">Password</label>
                                    <input type="password" class="form-control" id="password-signup"
                                        placeholder="Password">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-dark" id="signup_button">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>