{{!-- *** TODO: upload image for character, need link with cloudinary and adjust html layout--}}
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon03">Upload</button>
  </div>
  <div class="custom-file">
    <input type="file" class="custom-file-input" id="inputGroupFile03" aria-describedby="inputGroupFileAddon03">
    <label class="custom-file-label" for="inputGroupFile03">Choose image</label>
  </div>
</div>

{{!-- dropdown menu for alignment --}}
<label for="alignments">Choose a alignment:</label>

<select name="alignments" id="alignments">
    <option value="alignment1">alignment1</option>
    <option value="alignment2">alignment2</option>
    <option value="alignment3">alignment3</option>
    <option value="alignment4">alignment4</option>
    <option value="alignment5">alignment5</option>
</select>

{{!-- *** TODO :abilities --}}

{{!--  textarea for Character description/backstory  --}}
