
{{!-- dropdown menu for alignment --}}
<label for="alignments">Choose a alignment:</label>

<select name="alignments" id="alignments">
    <option value="alignment1">alignment1</option>
    <option value="alignment2">alignment2</option>
    <option value="alignment3">alignment3</option>
    <option value="alignment4">alignment4</option>
    <option value="alignment5">alignment5</option>
</select>