<label for="character-name">Character Name: </label>
<input for="character-name" class="form-lable" id="characterName"></input>


{{!-- *** TODO: upload image for character, need link with cloudinary and adjust html layout--}}
<div class="card" style="width: 18rem;">
  {{!-- *** TODO: preview character image, need link --}}
  <img src="TODO" class="card-img-top" alt="character-image-preview">
  <div class="card-body">
    {{!-- upload label and button --}}
    <div>
      <button id="upload_widget">Upload Image</button>
    </div>
    <div><img id="uploadedimage" /></div>

  </div>
</div>


{{!-- dropdown menu for alignment --}}
<label for="alignments">Choose an alignment:</label>

<select name="alignments" id="alignments">
  <option value="alignment1">True Neutral</option>
  <option value="alignment2">Chaotic Neutral</option>
  <option value="alignment3">Lawful Neutral</option>
  <option value="alignment4">Lawful Good</option>
  <option value="alignment5">Lawful Evil</option>
  <option value="alignment6">Chaotic Good</option>
  <option value="alignment7">Chaotic Evil</option>
  <option value="alignment8">Chaotic Neutral</option>
  <option value="alignment9">Neutral Good</option>

</select>


{{!-- *** TODO :abilities --}}



{{!-- *** TODO : textarea for Character description/backstory, combine? --}}
<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text">Physical Description</span>
  </div>
  <textarea class="form-control" aria-label="physical_description" id="physical_description"
    placeholder="Add in a description of the character's physical appearance and traits here."></textarea>
</div>
<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text">Backstory</span>
  </div>
  <textarea class="form-control" aria-label="backstory" id="backstory"
    placeholder="Add in details about the character's backstory here."></textarea>
</div>
<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text">Personality</span>
  </div>
  <textarea class="form-control" aria-label="personality" id="personality"
    placeholder="Add in details about the character's personality here."></textarea>
</div>
<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text">Abilities</span>
    <button>Add another Ability</button>
  </div>
  <textarea class="form-control" aria-label="abilities" id="abilities"
    placeholder="List a single ability here."></textarea>
</div>



{{!--

for(i = 0, i < abilities.length){ render a text area of } --}} {{!-- *** TODO : save button, need to link to public --}}
  <button type="button" class="btn btn-secondary btn-lg btn-block" id="save-character">Save Character</button>