
<input for="character-name" class="form-lable" id="characterName">Character Name: </input>


{{!-- *** TODO: upload image for character, need link with cloudinary and adjust html layout--}}
<div class="card" style="width: 18rem;">
    {{!-- *** TODO: preview character image, need link --}}
  <img src="TODO" class="card-img-top" alt="character-image-preview">
  <div class="card-body">
    {{!-- upload label and button --}}
    <div>
        <button id="upload_widget">upload image</button>
    </div>
    <div><img id="uploadedimage" /></div>
        {{!-- <div class="input-group mb-3">
        <div class="input-group-prepend">
            <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon03 upload_widget">Upload</button>
        </div>
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="inputGroupFile03" aria-describedby="inputGroupFileAddon03">
            <label class="custom-file-label" for="inputGroupFile03">Choose image</label>
        </div>
        </div> --}}

  </div>
</div>


{{!-- dropdown menu for alignment --}}
<label for="alignments">Choose a alignment:</label>

<select name="alignments" id="alignments">
    <option value="alignment1">True Neutral</option>
    <option value="alignment2">Chaotic Neutral</option>
    <option value="alignment3">Lawful Neutral</option>
    <option value="alignment4">Lawful Good</option>
    <option value="alignment5">Lawful Evil</option>
    <option value="alignment6">Chaotic Good</option>
    <option value="alignment7">Chaotic Evil</option>
    <option value="alignment8">Chaotic Neutral</option>
    <option value="alignment9">Neutral Good</option>

</select>


{{!-- *** TODO :abilities --}}



{{!--  *** TODO : textarea for Character description/backstory, combine?  --}}
<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text">physical_description</span>
  </div>
  <textarea class="form-control" aria-label="physical_description" id="physical_description"></textarea>
</div>
<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text">backstory</span>
  </div>
  <textarea class="form-control" aria-label="backstory" id="backstory"></textarea>
</div>
<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text">personality</span>
  </div>
  <textarea class="form-control" aria-label="personality" id="personality"></textarea>
</div>


{{!-- *** TODO : save button, need to link to public --}}
<button type="button" class="btn btn-secondary btn-lg btn-block" id="save-character">Save Character</button>

