<ul class="list-group col-12">
        {{#each userlist as |user|}}
        <li>
                <a href="/user/{{user.id}}/characters" class="list-group-item list-group-item-action list-group-item-dark">
                        <h1>{{user.name}}</h1>
                </a>
        </li>
        {{/each}}
</ul>