{{!-- <!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./style.css">
        <link rel="stylesheet"
                href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
        <title>LéGenesis</title>
</head> --}}

<div>
        <header class="navbar title ">
                
                <div class="d-flex justify-content-end pr-2">
                        <button type="button" class="btn btn-light" id="userDshBtn">User Dashboard</button>
                        <button type="button" class="btn btn-light" id="logoutBtn">logout</button>
                </div>
        </header>
        <div class="container">
        
        {{!-- {{#if users.length}} --}}
        {{#each userlist as |user|}}
        <label for="">
        <a href="/user/{{user.id}}/characters">{{user.name}}</a>
        </label>
        <br>
         {{!-- <label for="user-name">{{user.name}}</label> --}}
         {{!-- <h1>{{user.name}}</h1> --}}
        {{/each}}
        {{!-- {{/if}} --}}

        </div>
</div>

