:root {
    --black: black;
    --white: white;
    --gray: gray;
    --red: red;
}

* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to bottom, gray, black);
    background-attachment: fixed;
}

.logo {
    height: 200px;
    justify-content: center;
    align-items: center;
}

.btn {
    margin-left: 20px;
    margin-right: 20px;
}

.navbar-buttons {
    justify-content: right;
}

header {
    color: var(--white);
    padding: 20px;
    text-align: center;
    background-color: var(--black);
}

#character-container {
    background-color: white;
    color: back;
}

.login-card {
    border-style: solid;
    border-width: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 400px;
    border: 3px solid darkgray;
    padding: 10px;
    flex: 0 0 300px;
    background-color: var(--gray);
    margin: 20px;
}

.modal-content {
    background-image: linear-gradient(to bottom, gray, black);
    color: var(--white);
}

.buttons {
    background-color: var(--gray);
    width: 80px;
    height: 15px;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons button {
    display: block;
    margin-bottom: 5px;
}

ul {
    padding-top: 2vh;
}

li {
    list-style-type: none;
    padding: 3vh;
    text-align: center;
    border-radius: 15px;
}

#upload_widget {
    justify-content: space-evenly;
    display: block;
}

#uploadedimage {
    height: 200px;
    width: auto;
    justify-content: space-evenly;
    display: block;
}